.purple{
    color: rgb(243, 46, 243);
}

.home-about-body{
    font-size: 25px;
    color: aliceblue;
}

.home-about-body123{
    color: aliceblue;
}

.social {
    text-align: center; 
    margin: 20px 0; 
}

.social a {
    margin: 0 15px; 
    font-size: 2rem; 
    color: #000;
    transition: color 0.3s;
}

.social a:hover {
    color: #0073b1;
}


.connect1{
    font-size: 10px;
    color: rgb(253, 247, 253);
}